# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
backend/__pycache__/
backend/*.log

# IDE files
.idea/
.vscode/

# Node
node_modules/
frontend/dist/
frontend/node_modules/

# Logs
*.log
.env
